.text-decorator-none{
    text-decoration: none;
}

.titulo{
    color: rgb(0, 0, 0) !important; 
    font-weight: bold !important;
}

.botao{
    border-color: rgb(0, 0, 0) !important;
    background-color: #000000;
    color: rgb(107, 105, 105) !important;
}
.postagens{
    background-color: rgb(24, 23, 23);
}