  .backcolor{
    background: linear-gradient(36deg, #1a1919 30%, #f0ecec 88%) !important ;
  }
  .cursor{
    cursor: pointer;
    color:white
  }  
.text-decorator-none{
text-decoration: none;
    }