  .backcolor{
    background: linear-gradient(36deg, #252525 30%, #747272 88%) !important ;
  }
  .cursor{
    cursor: pointer;
    color:white
  }  
.text-decorator-none{
text-decoration: none;
    }