.textos1{
    font-weight: bold !important;
    color: black;
    text-decoration: none;
   
}
.imagem{
    background-image:url(https://imgur.com/tdY7iJp.png);
    background-repeat: no-repeat;
    width: 100vh; 
    min-height: calc(120vh - 35px);    
    background-size: cover;
    background-position: center;
            
}

.text-decorator-none{
    text-decoration: none;
}

.logar{
    color:rgb(246, 244, 244) !important;
    background-color: rgb(0, 0, 0) !important;
    
    
}
