.box1{
    background-color: #808080;
    height: 120px;
}
.box2{
    background-color:#808080;
     height: 60px;
}
.redes{
    font-size: 60px !important;
    color: whitesmoke;
}
.textos{
    color: whitesmoke;
}