.home2{
        background-image: url("https://media.giphy.com/media/vJljCJOIZUgSs/giphy.gif");
        background-repeat: no-repeat;
        width: 100vw;
        min-height: calc(120vh - 30px);
        background-size: cover;
        background-position: center;
    }

.caixa{
    background-color: #bdbaba;
}

.titulo{
    color: hsl(0, 0%, 100%) !important; 
    font-weight: bold !important;
}
.botao{
    border-color: rgb(148, 146, 146) !important;
    background-color: #050505;
    color: rgb(255, 254, 254) !important;
}
.postagens{
    background-color: rgb(110, 106, 106);
}

.text-decorator-none{
    text-decoration: none;
}