.caixa{
    background-color: #D3D3D3;
}

.titulo{
    color: grey11 !important; 
    font-weight: bold !important;
}
.botao{
    border-color: LightGrey !important;
    background-color: #363636;
    color: LightGrey !important;
}
.postagens{
    background-color: black;
}