.home2{
        background-image: url("https://imgur.com/tdY7iJp.png");
        background-repeat: no-repeat;
        width: 100vw;
        min-height: calc(120vh - 35px);
    
        background-size: cover;
        background-position: center;
    }

.caixa{
    background-color: #bdbaba;
}

.titulo{
    color: rgb(250, 243, 243) !important; 
    font-weight: bold !important;
}
.botao{
    border-color: rgb(105, 103, 103) !important;
    background-color: #272626;
    color: rgb(255, 250, 250) !important;
}
.postagens{
    background-color: rgb(110, 106, 106);
}

.text-decorator-none{
    text-decoration: none;
}