.imagem2{
    background-image:url(https://imgur.com/tdY7iJp.png);
    background-repeat: no-repeat;
    width: 100vh; 
    min-height: calc(120vh - 30px);
    background-size: cover;
    background-position: left;
            
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right:20px !important;
    color: #ffffff	 !important;
    background-color: #000000 !important;
    
}

.color{
    color: #ffffff	 !important;
    background-color: #000000 !important;
    
    
}